
/* Very small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 576px){
    .banner p{
        font-size: 3em !important;
    }
    
    .logo{
        width: 15rem;
        height: 15rem;
    }

    .developer-name{
        font-size: 1em!important;
        display: flex;
        justify-content: center;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){ 



 }



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

    .developer-name{
        font-size: 1em!important;
        display: flex;
        justify-content: center;
    }



 }



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {


 }



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {


 }



/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400) { 

}